{% extends 'generic/base_generic.html' %}
{% load bootstrap5 %}
{% load static %}
{% block imports %}
    <script type="text/javascript"
            src="{% static 'companies/candidat.js' %}"
            defer></script>
{% endblock imports %}
{% block content %}
    <script>
    var qualities = new Array();
    var langues = new Array();

    </script>
    <form novalidate
          action="{% url 'companies:change_research_candidat' %}"
          class="needs-validation row mt-5 d-flex justify-content-center"
          method="post">
        <h3 class="mb-3 violine text-center">
            <b>Mon candidat idéal</b>
        </h3>
        {% csrf_token %}
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div>
                <label class="bold mb-3" for="id_contract_type">Il parle</label>
                <div id="langues" class="mb-3 d-flex justify-content-left flex-wrap">
                    <div style="width: 100%">
                        <button type="button"
                                class="mb-3 btn btn-danger rounded-pill"
                                data-bs-toggle="modal"
                                data-bs-target="#langueModal">Ajouter une langue</button>
                    </div>
                </div>
            </div>
            <div>
                <label class="bold mb-3" for="id_contract_type">Quelles sont ses qualités principales ?</label>
                <span class='ps-3 text-muted'>(5 maximum)</span>
                <div id="qualities" class="mb-3 d-flex justify-content-left flex-wrap">
                    <div style="width: 100%">
                        <button type="button"
                                class="mb-3 btn btn-danger rounded-pill"
                                data-bs-toggle="modal"
                                data-bs-target="#qualitiesModal">Choisissez des qualités</button>
                    </div>
                </div>
            </div>
            {% bootstrap_field form.autonomy label_class="bold mb-3" %}
        </div>
        <div class="col-lg-1"></div>
        <div class="d-flex justify-content-between mt-5">
            <a class="btn btn-danger rounded-pill my-4"
               href="{% url 'companies:change_research_mission' %}"
               role="button">Etape précédente</a>
            <button type="submit" class="btn btn-danger rounded-pill my-4" role="button">Etape suivante</button>
        </div>
        {{ form.langues_parlees.as_hidden }}
        {{ form.qualities.as_hidden }}
    </form>
    <div class="modal fade"
         id="qualitiesModal"
         tabindex="-1"
         aria-labelledby="qualitiesModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="qualitiesModalLabel">Qualités</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for qualite in list_qualities %}
                        <a onclick='changeColorQualite(this);'
                           qualite='{{ qualite.qualite }}'
                           class="btn border rounded-pill my-3 mx-2 {% if qualite.qualite in qualities %}logo_color{% endif %}">{{ qualite.qualite }}
                        </a>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-danger rounded-pill"
                            data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="langueModal"
         tabindex="-1"
         aria-labelledby="langModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="langModalLabel">Langues</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for langue in list_langues %}
                        <a onclick='changeColorLang(this);'
                           langue='{{ langue.langue }}'
                           class="btn border rounded-pill my-3 mx-2 {% if langue.langue in langues %}logo_color{% endif %}">{{ langue.langue }}
                        </a>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-danger rounded-pill"
                            data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <style>
        #id_autonomy>div{
            display: inline-block;
            margin: 0 20px 0 0;
        }
    </style>
{% endblock content %}
