{% extends "generic/base_generic.html" %}
{% block content %}
    <div class="row m-5">
        <div class="col-12">
            <h3>Date : 4/03/2023</h3>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-12">
            <h1>CONDITIONS GENERALES D‘UTILISATION (« CGU »)</h1>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-12">
            <h3>Sommaire</h3>
            <ul style="list-style: none;">
                <li class="m-2">1. Objet</li>
                <li class="m-2">2. Durée du Contrat</li>
                <li class="m-2">3. Contenu du Site</li>
                <li class="m-2">4. gestion du site</li>
                <li class="m-2">5. Responsabilités</li>
                <li class="m-2">6. Protection des données</li>
                <li class="m-2">7. Liens hypertextes</li>
                <li class="m-2">8. Photographies et représentation des produits</li>
                <li class="m-2">9. Modification des CGU</li>
                <li class="m-2">10. Droit applicable</li>
                <li class="m-2">11. Nous contacter</li>
            </ul>
        </div>
    </div>
    <div class="row mx-5 my-2">
        <div class="col-12">
            <h4>1. Objet</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Les présentes conditions d'utilisation ont pour objet de définir les modalités d'utilisation du Site
            leonework.com
            <br>
            <br>
            Le présent contrat est conclu entre
            <ul>
                <li>L'éditeur du Site, ci-après dénommé « LEONEWORK » ou l‘ « Éditeur » ; et</li>
                <li>
                    Toute personne physique ou morale souhaitant accéder au Site et à ses services, ci-après désignée
                    l‘« Utilisateur » ou « Vous ».
                </li>
            </ul>
            Les CGU doivent être acceptées par chaque Utilisateur. En poursuivant la navigation sur ce Site, vous
            acceptez sans réserve les CGU suivantes.
            <br>
            <br>
            20 / 26
            La version des présentes CGU actuellement en ligne est la seule applicable pendant toute la durée
            d'utilisation du Site et jusqu'à ce qu'une nouvelle version la remplace.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>2. Durée du Contrat</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter
            du début de la navigation sur le Site.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>3. Contenu du Site</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences
            vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner
            ce Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en
            vigueur au titre de la propriété intellectuelle.
            <br>
            <br>
            Ils sont la propriété pleine et entière de l'Éditeur ou de ses partenaires. Toute reproduction, représentation,
            utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les
            applications informatiques, sans l'accord préalable et écrit de l'Éditeur, est strictement interdite. Le fait que
            l'Éditeur n'engage pas de procédure dès qu'il a connaissance de ces utilisations non autorisées ne signifie
            pas qu'il accepte lesdites utilisations et renonce à toute action en justice.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>4. Gestion du Site</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Pour la bonne gestion du Site, l'Éditeur peut à tout moment :
            <ul>
                <li>
                    Suspendre, interrompre ou limiter l'accès à tout ou partie du Site, réserver l'accès au Site, ou à
                    certaines parties du Site, à une catégorie spécifique d'utilisateurs
                </li>
                <li>
                    Supprimer toute information qui pourrait perturber le fonctionnement du Site ou qui contreviendrait
                    aux lois nationales ou internationales
                </li>
                <li>Suspendre le Site afin de le mettre à jour.</li>
            </ul>
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>5. Responsabilités</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            La responsabilité de l'Éditeur ne saurait être engagée en cas de défaillance, panne, difficulté ou interruption
            de fonctionnement, empêchant l'accès au Site ou à l'une de ses fonctionnalités.
            <br>
            <br>
            Vous êtes entièrement responsable du matériel que vous utilisez pour vous connecter au Site. Vous devez
            prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données, notamment
            contre les attaques virales via Internet. Vous êtes également seul responsable des sites et des données que
            vous consultez.
            <br>
            <br>
            La responsabilité de l'Éditeur ne saurait être engagée en cas de poursuites judiciaires à votre encontre :
            <ul>
                <li>du fait de l'utilisation du Site ou de tout service accessible par Internet</li>
                <li>du fait du non-respect par vous des présentes CGU.</li>
                <ul>
                    L'Éditeur n'est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement
                    du fait de votre connexion au Site ou de son utilisation, et vous renoncez à toute action contre l'Éditeur de
                    ce fait.
                    <br>
                    <br>
                    Si l'Éditeur fait l'objet d'une procédure amiable ou judiciaire du fait de votre utilisation du Site, il pourra se
                    retourner contre vous pour obtenir la réparation de tous les dommages, sommes, condamnations et frais
                    qui pourraient résulter de cette procédure.
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>6. Protection des données</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    os données sont collectées par la société LEONEWORK. Les données à caractère personnel sont toute
                    information se rapportant à une personne physique identifiée ou identifiable (personne concernée) ; est
                    réputée identifiable une personne qui peut être identifiée, directement ou indirectement, notamment par
                    référence à un last_name, à un numéro d'identification ou à un ou plusieurs éléments spécifiques propres à son
                    identité physique, physiologique, génétique, psychique, économique, culturelle ou sociale. Les informations
                    personnelles susceptibles d'être collectées sur le Site sont principalement utilisées par l'Éditeur pour la
                    gestion des relations avec vous, et le cas échéant pour le traitement de vos demandes.
                    <br>
                    <br>
                    Vous pouvez consulter notre politique de confidentialité pour plus d'informations sur vos droits.
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>7. Liens hypertextes</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    La mise en place par les Utilisateurs de tout lien hypertexte vers tout ou partie du Site est strictement
                    interdite, sauf autorisation préalable et écrite de l'Éditeur.
                    <br>
                    <br>
                    L'Éditeur est libre de refuser cette autorisation sans avoir à justifier sa décision de quelque manière que ce
                    soit. Dans l'hypothèse où l'Éditeur accorderait son autorisation, celle-ci n'est en tout état de cause que
                    temporaire et pourra être retirée à tout moment, sans que l'Éditeur ait à justifier sa décision.
                    <br>
                    <br>
                    Toute information accessible via un lien vers d'autres sites Internet n'est pas publiée par l'Éditeur. L'Éditeur
                    ne dispose d'aucun droit sur le contenu de ces liens.
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>8. Photographies et représentation des produits</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    Les éventuelles photographies des Services et des entreprises, accompagnant leur description, ne sont pas
                    contractuelles et n'engagent pas l'Éditeur.
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>9. Modification des CGU</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    Le contenu des présentes conditions générales peut faire l'objet de modifications sans préavis.
                    <br>
                    LEONEWORK se réserve le droit de changer ou de modifier les présentes conditions d'utilisation du Site à
                    tout moment et sans notification préalable.
                    <br>
                    Toute utilisation du Site après un tel changement constitue votre acceptation des changements,
                    modifications, ajouts et/ou suppressions effectués.
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>10. Droit applicable</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    Les présentes CGU sont régies par le droit français et sont soumises à la compétence des tribunaux du
                    siège social de l'Éditeur, sous réserve d'une attribution de compétence spécifique découlant d'un texte légal
                    ou réglementaire particulier.
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>11. Nous contacter</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    Pour toute question, information sur les produits ou services présentés sur le Site, ou concernant le Site lui-
                    même, vous pouvez laisser un message à l'adresse suivante : audrey@leonework.com
                </div>
            </div>
        {% endblock content %}
