{% extends "generic/base_generic.html" %}
{% block content %}
    <div class="row m-5">
        <div class="col-12">
            <h3>Date : 4/03/2023</h3>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-12">
            <h1>Politique de confidentialité</h1>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center m-5">
        <div class="col-lg-12">
            La présente politique de confidentialité a pour objectif de vous informer au sujet de la collecte, l’utilisation
            et le traitement des données personnelles lorsque vous utilisez notre plateforme « leonework.com »
            (le « Site internet » ou le « Site »).
            <br>
            <br>
            Dans le cadre de l’inscription sur le Site, vos données sont traitées par PROJETS, société par action
            simplifiée (SAS), immatriculée au RCS de Lyon sous le n°948 689 831, située 129 Avenue Charles de Gaulle,
            69160 TASSIN LA DEMI LUNE FRANCE. PROJETS est le responsable de traitement de vos Données
            Personnelles (ci-après désigné par « LEONEWORK »).
            <br>
            <br>
            Dans le cadre de la candidature à une annonce postée par un recruteur, LEONEWORK est sous traitant de
            vos données, et le responsable de traitement est le recruteur.
        </div>
    </div>
    <div class="row m-5">
        <div class="col-12">
            <h3>Sommaire</h3>
            <ul style="list-style: none;">
                <li class="m-2">1. Définitions</li>
                <li class="m-2">2. Comment LEONEWORK met en œuvre la protection des Données à Caractère Personnel ?</li>
                <li class="m-2">3. Quelles Données sont utilisées par LEONEWORK ?</li>
                <li class="m-2">4. Comment LEONEWORK traite vos données personnelles et sur quel fondement ?</li>
                <li class="m-2">5. Combien de temps LEONEWORK conserve vos données ?</li>
                <li class="m-2">6. A qui peuvent être communiquées vos Données à Caractère Personnel ?</li>
                <li class="m-2">7. Quels sont vos droits sur vos Données à Caractère Personnel ?</li>
                <li class="m-2">8. Qui contacter ?</li>
                <li class="m-2">9. Modification de la présente Politique</li>
            </ul>
        </div>
    </div>
    <div class="row mx-5 my-2">
        <div class="col-12">
            <h4>1. Définitions</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Les termes utilisés au sein de la présente Politique de confidentialité sont les termes définis au sein du
            Règlement européen n°2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard
            du traitement des données à caractère personnel et à la libre circulation de ces données.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>2. Comment LEONEWORK met en œuvre la protection des Données à Caractère Personnel ?</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            LEONEWORK traite vos données à caractère personnel dans le respect de la loi n°78-17 du 6 janvier 1978
            modifiée relative à l’informatique, aux fichiers et aux libertés et le Règlement européen n°2016/679 du 27
            avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère
            personnel et à la libre circulation de ces données (ensemble les « Lois sur la Protection des Données »).
            <br>
            <br>
            LEONEWORK s’engage également à prendre en compte la protection de vos Données à Caractère
            Personnel et de votre vie privée dès la conception des services qui vous sont proposés. Pour assurer la
            sécurité, garantir le respect et le bon exercice de vos droits, les mesures permettant d’assurer la protection
            de vos Données à Caractère Personnel sont mises en œuvre.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>3. Quelles Données sont utilisées par LEONEWORK ?</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            LEONEWORK s’engage à ne collecter que des données strictement nécessaires à sa mission : mettre en
            contact des entreprises avec des candidats afin qu’ils trouvent une alternance, un apprentissage, ou un
            stage.
            <br>
            <br>
            Nous collectons également les informations que vous nous fournissez directement quand vous remplissez
            notre formulaire de prise de contact, lorsque vous créez un compte sur le Site, et de manière générale
            lorsque vous interagissez avec nous
            <br>
            <br>
            Dans ce cadre, nous sommes susceptibles de collecter notamment les catégories de données à caractère
            personnel suivantes
            <br>
            <br>
            Pour les recruteurs :
            <ul>
                <li>Vos données d’identification (last_name et prénom)</li>
                <li>Votre adresse électronique</li>
                <li>Votre adresse postale de l’entreprise</li>
                <li>Votre numéro de téléphone de l’entreprise</li>
                <li>Éventuellement, la photographie des membres de l’équipe</li>
                <li>
                    Et, si vous le remplissez, l’ensemble des informations que vous avez fournies dans notre
                    questionnaire de prise de contact ou au sein de la messagerie.
                </li>
            </ul>
            Pour les candidats :
            <ul>
                <li>Vos données d’identification (last_name et prénom)</li>
                <li>Votre photographie</li>
                <li>Votre date de naissance</li>
                <li>Votre adresse électronique</li>
                <li>Votre numéro de téléphone</li>
                <li>Votre formation</li>
                <li>Votre parcours professionnel</li>
                <li>
                    Et, si vous le remplissez, l’ensemble des informations que vous avez fournies dans notre
                    questionnaire de prise de contact ou au sein de la messagerie.
                </li>
            </ul>
            Dans le cas où des données facultatives vous seraient demandées, LEONEWORK vous informe clairement
            sur les Données Personnelles nécessaires à la réalisation du service et à quelle fin celles-ci seront utilisées.
            <br>
            <br>
            Lorsque les Données Personnelles n’auront pas été collectées par votre biais, LEONEWORK vous informera
            le plus rapidement possible du traitement pour lequel elles ont été collectées et de ses finalités.
            <br>
            <br>
            Les Données à Caractère Personnel sont utilisées pour vous proposer d’autres services, uniquement si vous
            avez accepté de recevoir des communications commerciales
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>4. Comment LEONEWORK traite vos données personnelles et sur quel fondement ?</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Les Données Personnelles ne seront collectées et traitées par LEONEWORK que si une base
            juridique appropriée et pertinente le permet.
            <br>
            <br>
            LEONEWORK collecte vos données à caractère personnel sur la base de son intérêt légitime (article 6 (f)
            du RGPD) :
            <ul>
                <li>
                    Aux fins de promotion de ses activités, notamment en mettant à disposition son formulaire de prise de
                    contact
                </li>
                <li>
                    Afin de prendre contact avec vous par la suite pour vous proposer des offres en lien avec votre
                    demande.
                </li>
            </ul>
            LEONEWORK collecte également vos données sur la base du contrat que nous avons conclu avec vous
            (article 6 (b) lorsque vous vous inscrivez sur le Site.
            <br>
            <br>
            Les données recueillies via le formulaire de prise de contact sont agrégées et font l’objet d’un traitement
            afin de répondre à vos questions ou demandes de prise de contact.
            <br>
            <br>
            LEONEWORK collecte également vos données à caractère personnel sur la base de son intérêt légitime aux
            fins de la réalisation de statistiques visant à mesure l’audience de son Site.
            <br>
            <br>
            Dans le cas où vos données seraient collectées sur la base de votre consentement à des fins de prospection
            commerciale, vous pouvez à tout moment le retirer en adressant une demande écrite à la personne dont les
            coordonnées figurent à l’article 7 de la présente Politique.
            <br>
            <br>
            LEONEWORK est également susceptible de traiter vos données à caractère personnel sur la base
            d’une obligation légale ou réglementaire.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>5. Combien de temps LEONEWORK conserve vos données ?</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Vos données seront conservées pendant une période qui n’excédera pas celle qui est nécessaire à
            l’accomplissement des finalités énoncées dans cette Politique.
            <br>
            <br>
            Les données à caractère personnel collectées afin de traiter votre demande ne seront conservées
            que pendant deux (2) ans après le dernier contact que Nous avons eu avec vous. Les données seront
            ensuite effacées ou conservées de manière anonyme.
            <br>
            <br>
            Nous sommes susceptibles de conserver vos données au-delà des périodes susmentionnées (i) pour
            assurer le respect des obligations de conservation légales, comptables et fiscales (ii) pour la
            conservation des preuves pendant les délais de prescription applicables, (iii) pour l'exercice des
            droits de LEONEWORK en cas d'action contentieuse ou judiciaire pendant toute la période de la
            procédure ou de l'enquête.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>6. A qui peuvent être communiquées vos Données à Caractère Personnel ?</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Les données collectées sont celles strictement nécessaires et indispensables aux finalités énoncées dans
            la présente Politique et sont destinées aux services concernés de LEONEWORK ainsi qu’à ses éventuels
            partenaires et/ou sous-traitants.
            Nous sommes notamment susceptibles de partager vos données personnelles avec les tiers, sous-traitants,
            partenaires ou agents autorisés suivants :
            <ul>
                <li>
                    Les membres de LEONEWORK aux fins du traitement de vos demandes et de la fourniture de nos
                    prestations
                </li>
                <li>
                    Les partenaires avec lesquels nous serions susceptibles de collaborer dans le cadre du traitement de
                    vos demandes, notamment Stripe pour le paiement.
                </li>
                <li>Nos prestataires informatiques à des fins de maintenance et d’hébergement de vos données.</li>
            </ul>
            Nos partenaires et prestataires sont conformes au RGPD et n‘utiliseront aucunement vos données à d‘autres
            fins que celles pour lesquelles elles nous ont été transmises.
            <br>
            <br>
            Nous pouvons également partager les informations vous concernant :
            <ul>
                <li>
                    En réponse à une demande de renseignements provenant d’une autorité compétente, si nous croyons
                    que la communication de ces informations est légale ou requise par une loi, un règlement applicable ou
                    dans le cadre d’une procédure judiciaire
                </li>
                <li>
                    Avec des représentants des forces de l’ordre, des autorités judiciaires ou administratives ou d’autres
                    tiers habilités.
                </li>
            </ul>
            Enfin, nous pouvons être amenés à transférer vos données à caractère personnel à certains de ces
            destinataires en dehors de l’Espace Économique Européen (« EEE »). Lorsque de tels transferts surviennent
            et que le pays ou le tiers ne bénéficie pas d’une décision d’adéquation de la part de la Commission
            Européenne, des garanties appropriées sont mises en place pour protéger vos données à caractère
            personnel.
            <br>
            <br>
            Vous pouvez obtenir davantage d’informations sur ces garanties mises en place en vous adressant à notre
            Référent à la protection des données dont les coordonnées sont indiquées dans la présente Politique.
        </div>
    </div>
    <div class="row mx-5 mt-4">
        <div class="col-12">
            <h4>7. Quels sont vos droits sur vos Données à Caractère Personnel ?</h4>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center mx-5">
        <div class="col-lg-12">
            Vous disposez à tout moment de la faculté d’exercer auprès de LEONEWORK les droits prévus par la
            réglementation en vigueur applicable en matière de données à caractère personnel, sous réserve d’en
            remplir les conditions :
            <ul>
                <li>
                    Le droit d'accès. Vous avez le droit d’obtenir une copie de vos données à caractère
                    personnel.
                </li>
                <li>
                    Le droit de rectification. Vous avez le droit d’obtenir la rectification de vos données à
                    caractère personnel si celles-ci sont inexactes ou incomplètes.
                </li>
                <li>
                    Le droit à l'effacement (le « droit à l’oubli »). Vous avez le droit d’obtenir l’effacement de
                    vos données à caractère personnel. Toutefois le droit à l'effacement (ou le « droit à l’oubli
                    ») n’est pas absolu et est soumis à des conditions particulières. Nous sommes susceptibles
                    de conserver vos données à caractère personnel dans les limites autorisées par la loi et la
                    réglementation applicables, notamment lorsque leur traitement demeure nécessaire pour le
                    respect d’une obligation légale à laquelle LEONEWORK est soumise ou pour la constatation,
                    l’exercice ou la défense d’un droit en justice.
                </li>
                <li>
                    Le droit à la limitation du traitement. Vous avez le droit d’obtenir la limitation du traitement
                    dans certaines circonstances (par exemple lorsque LEONEWORK n’a plus besoin de vos
                    données à caractère personnel pour certains traitements mais que celles-ci sont encore
                    nécessaires pour la constatation, l’exercice ou la défense d’un droit en justice).
                </li>
                <li>
                    Le droit à la portabilité des données à caractère personnel. Vous avez le droit, dans
                    certaines circonstances, de recevoir les données à caractère personnel vous concernant et
                    que vous avez fournies à LEONEWORK dans un format structuré, couramment utilisé et
                    lisible par une machine et de les transmettre à un autre responsable du traitement
                </li>
                <li>
                    Droit d'opposition au traitement. Vous avez le droit de vous opposer pour des raisons
                    tenant à votre situation particulière à certains types de traitement (par exemple, lorsque le
                    traitement est fondé sur les intérêts légitimes de LEONEWORK) et sans motif particulier
                    lorsque le traitement est effectué à des fins de prospection commerciale.
                </li>
                <li>
                    Le droit de retirer votre consentement. Si vous avez donné votre consentement à un
                    traitement par LEONEWORK de vos données à caractère personnel, vous avez le droit de
                    le retirer à tout moment.
                </li>
                <li>
                    Le droit de définir des directives quant au sort de vos données après votre mort. Vous
                    pouvez définir des directives relatives à la conservation, à l'effacement et à la
                    communication de vos données à caractère personnel après votre décès.
                </li>
                <ul>
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>8. Qui contacter ?</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    Vous pouvez exercer l’ensemble de vos droits auprès de notre Référent à la protection des données
                    par courrier électronique à l’adresse audrey@leonework.com, ou par courrier postal à l'attention du
                    Référent à la protection des données, à l’adresse du siège de LEONEWORK, dont les coordonnées
                    figurent sur le Site.
                    <br>
                    <br>
                    Vous disposez également du droit d'introduire une réclamation auprès de la Commission Nationale
                    de l’Informatique et des Libertés :
                    <br>
                    <br>
                    <div style="max-width: 600px; margin:auto">
                        Commission nationale de l'informatique et des libertés (CNIL)
                        <br>
                        <br>
                        3 Place de Fontenoy - TSA 80715 - 75334 Paris CEDEX 07
                    </div>
                    <br>
                    Vous pouvez choisir de ne plus recevoir les offres et newsletter de LEONEWORK en suivant les
                    instructions figurant dans les messages qui vous sont envoyés.
                </div>
            </div>
            <div class="row mx-5 mt-4">
                <div class="col-12">
                    <h4>9. Modification de la présente Politique</h4>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 align-items-center mx-5">
                <div class="col-lg-12">
                    La présente Politique de confidentialité peut être amenée à être modifiée, nous vous en informerons par le
                    biais de notre Site ou par d’autres moyens, comme le courrier électronique.
                    <br>
                    <br>
                    Nous vous invitons à consulter régulièrement cette Politique pour prendre connaissance des dernières
                    informations concernant nos pratiques en matière de confidentialité.
                </div>
            </div>
        {% endblock content %}
