{% extends "generic/base_generic.html" %}
{% block content %}
    <div class="row my-4">
        <div class="col-12 text-center">
            <h1>Mentions légales du site Leonework</h1>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 align-items-center m-5">
        <div class="col-lg-12">
            <h2>Éditeur</h2>
            <p>
                <br>
                société par action simplifiée (SAS), immatriculée au RCS de Lyon sous le n°948 689
                831, située 129 Avenue Charles de Gaulle, 69160 TASSIN LA DEMI LUNE FRANCE, et représentée par
                Madame Audrey AJZENBERG.
                <h2>Contact</h2>
                Tél. : +33 6 59 78 64 61  ; Email : audrey@leonework.com
                <br>
                <br>
                <h2>Responsable de la publication</h2>
                Madame Audrey AJZENBERG
                <br>
                <br>
                <h2>Hébergeur</h2>
                L'hébergement du site est réalisé par la société OVH, société par actions simplifiée,
                immatriculée au RCS de Lille Métropole sous le n° 424 761 419 00045 et dont le siège social est situé 2 rue
                Kellermann - 59100 Roubaix - France.
            </p>
        {% endblock content %}
