{% extends 'generic/base_generic.html' %}
{% block content %}
    <div class="container-fluid p-5">
        <h2 class="font-weight-bold mt-3">Email envoyé</h2>
        <hr>
        <p>
            Nous vous avons envoyé par e-mail des instructions pour réinitialiser votre mot de passe, si un compte existe
            avec l'adresse e-mail que vous avez saisie. Vous devriez les recevoir sous peu.
            <br>
            Si vous ne recevez pas
            d'e-mail, vérifiez que vous avez bien saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre
            dossier de courrier indésirable.
        </p>
    </div>
{% endblock %}
