{% extends 'generic/base_generic.html' %}
{% block content %}
    {% load bootstrap5 %}
    <div class="container-fluid p-5">
        <h2 class="font-weight-bold mt-3">Réinitialiser mon mot de passe</h2>
        <hr>
        <p>
            Vous avez oublié votre mot de passe ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons des
            instructions pour en créer un nouveau.
        </p>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-danger rounded-pill" type="submit">Envoyez un mail</button>
        </form>
    </div>
{% endblock %}
