{% extends "generic/base_generic.html" %}
{% block content %}
    {% load bootstrap5 %}
    <!--Password Reset Confirm-->
    <div class="container-fluid p-5">
        <h2 class="font-weight-bold mt-3">Nouveau mot de passe</h2>
        <hr>
        {% if validlink %}
            <p>Veuillez entrer votre nouveau mot de passe.</p>
            <form method="POST" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-danger rounded-pill" type="submit">Réinitialiser mon mot de passe</button>
            </form>
        {% else %}
            Oups ! Le lien que vous avez renseigné est invalide ou expiré. Veuillez demander un nouveau lien en cliquant ici : <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
        {% endif %}
    </div>
{% endblock %}
